body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
    overflow-y: hidden; /* Oculta el desplazamiento vertical */
}

.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Fondo opcional */
    text-align: center;
}

.text-center {
    font-size: 2rem;
    color: #0072bb;
    animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
