
.contenedor-pistas {
  
    overflow-x: auto !important; /* Activar deslizador horizontal */
    white-space: nowrap !important;
    margin-top: 0px !important;
    width: 100% !important; /* Asegura que el contenedor de las pistas ocupe el 100% del ancho */
    border: 1px solid red;
    padding: ;
    
}

.fila-equivalentes {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    margin-top: 10px !important;

}

.contenedorOperacionesOrder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

