

.imagen-multiplicaciones {
    width: 60vw;
    height: auto;
}

.mobile-picture {
    display: none;
    flex-direction: column;
    width: 100%;
}
@media (max-width: 550px) {
    .desktop-picture {
        display: none;
    }
    .mobile-picture {
        display: flex;

        
    }

}
