/* Estilo para las fracciones seleccionadas */
.graficoFraccion.selected {
  border: 2px solid #4CAF50; /* Verde */
  box-shadow: 0 0 30px rgba(76, 175, 80, 0.5); /* Sombra verde */
}

/* Efecto de hover para las fracciones */
.graficoFraccion {
  transition: background-color 0.1s ease, border 0.1s ease, box-shadow 0.1s ease;
}

