
.parentesis{
    display: flex;
    flex-direction: row;
}

.parentezco {
    font-size: 50px;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
}

.exponente {
    font-size: 14px;
    position: relative;
    top: 0px;
    left: -5px;
 }


.numerador-con-exponente {
    display: flex;
    align-items: flex-start;
}

.exponente-pequeno {
    font-size: 14px;
    margin-left: 0px;
    align-self: flex-start;
    top: 0px;


}

@media (max-width: 1100px) {

}