.graficos-css { /*Renderiza todo*/
    width: 80vw !important; /* Aumenta el ancho máximo del contenedor */
    height: 80vh; /* Aumenta la altura mínima */
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; /* Alinea los elementos en una columna */
    align-items: center ; /* Centrar verticalmente */
    position: relative;
    justify-content: center;
}

.buttonleft, .buttonright {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    font-size: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: absolute; /* Posiciona los botones absolutamente */
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente los botones */
    -webkit-tap-highlight-color: transparent; /* Elimina el resaltado en dispositivos móviles */
}

.buttonleft {
    left: 5px; /* Ajusta según sea necesario */
}

.buttonright {
    right: 5px; /* Ajusta según sea necesario */
}

.buttonleft:hover, .buttonright:hover {
    background-color: #007bff;
    color: #fff;
}

.buttonleft:active, .buttonright:active {
    background-color: #005fa3;
    color: #fff;
    transition: background-color 0.1s; /* Efecto más rápido al presionar */
}

.divContenedorBotonIzquierdo, .divContenedorBotonDerecho {
    display: flex;
    justify-content: center; /* Asegura que los botones estén centrados horizontalmente */
    align-items: center; /* Asegura que los botones estén centrados verticalmente */
    flex: 0 0 50px; /* Asegura que el contenedor tenga el mismo ancho que el botón */
}


@media (max-width: 650px) {
    .graficos-css {
        width: 100vw !important; /* Aumenta el ancho máximo del contenedor */
        height: 85vh; /* Aumenta la altura mínima */
        background: white;
        box-shadow: none;
        align-items: center; /* Centrar verticalmente */
        display: flex;
        border: none;
        flex-direction: row;
        margin-top: 0px;

    }

    .buttonleft, .buttonright {
        top: 50%;
        transform: translateY(-50%);
        margin: 0px; /* Añade margen para separar los botones */
    }

    .buttonleft {
        left: 5px; /* Ajusta para que esté casi pegado al borde izquierdo */
    }

    .buttonright {
        right: 5px; /* Ajusta para que esté casi pegado al borde derecho */
    }

    .buttonleft:active, .buttonright:active {
        background-color: #005fa3;
        color: #fff;
        transition: background-color 0.1s; /* Efecto más rápido al presionar */
    }

    .divContenedorBotonIzquierdo, .divContenedorBotonDerecho {
        flex: none;
        width: 50px; /* Fija el ancho de los contenedores de los botones */
        height: 50px; /* Fija la altura de los contenedores de los botones */
    }

    .buttonleft:hover, .buttonright:hover {
        background-color: transparent;
        color: #007bff;
    }

    .contenedorComponente{
        margin-top: 0px;
    }

}
