.graficos-css {
    width: 80vw !important; /* Aumenta el ancho máximo del contenedor */
    height: 80vh; /* Aumenta la altura mínima */
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center ; /* Centrar verticalmente */
    position: relative;
    justify-content: center;
}



.buttonleft, .buttonright {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    font-size: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: absolute; /* Posiciona los botones absolutamente */
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente los botones */
}

.buttonleft {
    left: 10px; /* Ajusta según sea necesario */
}

.buttonright {
    right: 10px; /* Ajusta según sea necesario */
}

.buttonleft:hover, .buttonright:hover {
    background-color: #007bff;
    color: #fff;
}

.divContenedorBotonIzquierdo, .divContenedorBotonDerecho {
    display: flex;
    justify-content: center; /* Asegura que los botones estén centrados horizontalmente */
    align-items: center; /* Asegura que los botones estén centrados verticalmente */
    flex: 0 0 50px; /* Asegura que el contenedor tenga el mismo ancho que el botón */
}

.divContenedorCentral {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 100px); /* Asegura que el contenedor central sea flexible y ocupe el espacio restante */
    padding: 20px; /* Añade algo de padding para separación interna */
    box-sizing: border-box; /* Incluye padding en el ancho total */
    height: 100%; /* Asegura que el contenedor central ocupe toda la altura disponible */
}

@media (max-width: 1110px) {
    .graficos-css {
        width: 100vw !important; /* Aumenta el ancho máximo del contenedor */
        height: 80vh; /* Aumenta la altura mínima */
        margin: 20px auto;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        align-items: center; /* Centrar verticalmente */
        display: flex;
        flex-direction: row !important;
   

    }

    .buttonleft, .buttonright {
        
        top: auto;
        left: auto;
        right: auto;
        transform: none;
        margin: 10px; /* Añade margen para separar los botones */
    }

    .divContenedorBotonIzquierdo, .divContenedorBotonDerecho {
        flex: none;
        width: 50px; /* Fija el ancho de los contenedores de los botones */
        height: 50px; /* Fija la altura de los contenedores de los botones */
    }

    .divContenedorCentral {
        display: none; /* Oculta el contenedor central en vista móvil */
    }
}
