.container-repaso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.imagen-repaso {
    width: 60vw;
    max-width: 1000px; /* Ajusta este valor según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
}
